<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shangan.trade.coupon.db.mappers.CouponBatchMapper">
  <resultMap id="BaseResultMap" type="com.shangan.trade.coupon.db.model.CouponBatch">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="batch_name" jdbcType="VARCHAR" property="batchName" />
    <result column="coupon_name" jdbcType="VARCHAR" property="couponName" />
    <result column="coupon_type" jdbcType="INTEGER" property="couponType" />
    <result column="grant_type" jdbcType="INTEGER" property="grantType" />
    <result column="total_count" jdbcType="BIGINT" property="totalCount" />
    <result column="available_count" jdbcType="BIGINT" property="availableCount" />
    <result column="assign_count" jdbcType="BIGINT" property="assignCount" />
    <result column="used_count" jdbcType="BIGINT" property="usedCount" />
    <result column="rule" jdbcType="VARCHAR" property="rule" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, batch_name, coupon_name, coupon_type, grant_type, total_count, available_count, 
    assign_count, used_count, rule, status, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from coupon_batch
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from coupon_batch
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.shangan.trade.coupon.db.model.CouponBatch">
    insert into coupon_batch (id, batch_name, coupon_name, 
      coupon_type, grant_type, total_count, 
      available_count, assign_count, used_count, 
      rule, status, create_time
      )
    values (#{id,jdbcType=BIGINT}, #{batchName,jdbcType=VARCHAR}, #{couponName,jdbcType=VARCHAR}, 
      #{couponType,jdbcType=INTEGER}, #{grantType,jdbcType=INTEGER}, #{totalCount,jdbcType=BIGINT}, 
      #{availableCount,jdbcType=BIGINT}, #{assignCount,jdbcType=BIGINT}, #{usedCount,jdbcType=BIGINT}, 
      #{rule,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shangan.trade.coupon.db.model.CouponBatch">
    insert into coupon_batch
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="batchName != null">
        batch_name,
      </if>
      <if test="couponName != null">
        coupon_name,
      </if>
      <if test="couponType != null">
        coupon_type,
      </if>
      <if test="grantType != null">
        grant_type,
      </if>
      <if test="totalCount != null">
        total_count,
      </if>
      <if test="availableCount != null">
        available_count,
      </if>
      <if test="assignCount != null">
        assign_count,
      </if>
      <if test="usedCount != null">
        used_count,
      </if>
      <if test="rule != null">
        rule,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="batchName != null">
        #{batchName,jdbcType=VARCHAR},
      </if>
      <if test="couponName != null">
        #{couponName,jdbcType=VARCHAR},
      </if>
      <if test="couponType != null">
        #{couponType,jdbcType=INTEGER},
      </if>
      <if test="grantType != null">
        #{grantType,jdbcType=INTEGER},
      </if>
      <if test="totalCount != null">
        #{totalCount,jdbcType=BIGINT},
      </if>
      <if test="availableCount != null">
        #{availableCount,jdbcType=BIGINT},
      </if>
      <if test="assignCount != null">
        #{assignCount,jdbcType=BIGINT},
      </if>
      <if test="usedCount != null">
        #{usedCount,jdbcType=BIGINT},
      </if>
      <if test="rule != null">
        #{rule,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shangan.trade.coupon.db.model.CouponBatch">
    update coupon_batch
    <set>
      <if test="batchName != null">
        batch_name = #{batchName,jdbcType=VARCHAR},
      </if>
      <if test="couponName != null">
        coupon_name = #{couponName,jdbcType=VARCHAR},
      </if>
      <if test="couponType != null">
        coupon_type = #{couponType,jdbcType=INTEGER},
      </if>
      <if test="grantType != null">
        grant_type = #{grantType,jdbcType=INTEGER},
      </if>
      <if test="totalCount != null">
        total_count = #{totalCount,jdbcType=BIGINT},
      </if>
      <if test="availableCount != null">
        available_count = #{availableCount,jdbcType=BIGINT},
      </if>
      <if test="assignCount != null">
        assign_count = #{assignCount,jdbcType=BIGINT},
      </if>
      <if test="usedCount != null">
        used_count = #{usedCount,jdbcType=BIGINT},
      </if>
      <if test="rule != null">
        rule = #{rule,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shangan.trade.coupon.db.model.CouponBatch">
    update coupon_batch
    set batch_name = #{batchName,jdbcType=VARCHAR},
      coupon_name = #{couponName,jdbcType=VARCHAR},
      coupon_type = #{couponType,jdbcType=INTEGER},
      grant_type = #{grantType,jdbcType=INTEGER},
      total_count = #{totalCount,jdbcType=BIGINT},
      available_count = #{availableCount,jdbcType=BIGINT},
      assign_count = #{assignCount,jdbcType=BIGINT},
      used_count = #{usedCount,jdbcType=BIGINT},
      rule = #{rule,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="queryCouponBatchList"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from coupon_batch
  </select>

  <update id="updateSendCouponBatchCount" parameterType="java.lang.Long">
    update coupon_batch
    set available_count = available_count - 1,
        assign_count    = assign_count + 1
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>